*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.navbar{
    background-color: white;
    width: 100%;
    height: 10vh;
    box-shadow: 5px 1px black;
    position: fixed;
    display: flex;
}
.edozzier{
    margin-top: 20px;
    margin-left: 150px;
    width: 200px;
    transition: 2s;
}
.option ul{
    display: flex;
}
.li1{
    margin-left: 250px;
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    margin-top: 30px;
    color: rgb(27, 22, 66)
}
.li2{
    margin-left: 50px;
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    margin-top: 30px;
    color: rgb(27, 22, 66)
}
.li3{
    margin-left: 200px;
    list-style: none;
    font-size: 15px;
    font-weight: 400;
    margin-top: 30px;
    color: rgb(12, 7, 107)
}
.start{
    background-color: rgb(32, 43, 129);
    padding: 12px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin-left: 50px;
    margin-top: 20px;
    border-radius: 5px;
}
.body{
    background-image: linear-gradient(to right, #eaedff, #fcfcff);
    width: 100%;
    height: 90vh;
    display: flex;
}
.here{
    color: #3F4B4B;
    font-size: 14px;
    font-weight: 400;
    background-color: #D0D8Fc;
    width: 30%;
    padding: 18px;
    margin-left: 150px;
    margin-top: 200px;
    border-radius: 5px;
}
.olu{
    margin-left: 150px;
    font-size: 64px;
    font-weight: 300;
    color: rgb(27, 22, 66);
}
.solution{
    margin-left: 150px;
    color: rgb(27, 22, 66);
    font-weight: 700;
    font-size: 64px;
}
.all{
    margin-top: 30px;
    margin-left: 150px;
    font-size: 20px;
    font-weight: 300;
    color: rgb(42, 42, 42);
    line-height: 30px;
}
.buttons{
    margin-left: 150px;
    margin-top: 30px;
}
.button1{
    background-color: white;
    color: #011746;
    font-size: 16px;
    font-weight: 600;
    padding: 15px;
    border-radius: 5px;
    border: none;
    transition: 3s;
}
.button1:hover{
    background-color: #d0daff;
    color: white;
    cursor: pointer;
}
.button2{
    background-color: #011746;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    padding: 15px;
    border-radius: 6px;
    transition: 1s;
}
.button2:hover{
    background-color: #ffb000;
    cursor: pointer;
}
.picture{
    margin-top: 240px;
    margin-left: 100px;
}
.pic{
    width: 700px;
}
.rmoe{
    align-items: center;
    margin-top: 200px;
    margin-left: 500px;
}
.rome{
    color: #1b1642;
    font-size: 48px;
    font-weight: 100;
}
.steady{
    margin-top: 30px;
    margin-left:30px;
    color: #3F4B4B;
    line-height: 30px;
}
.steady span{
    margin-left: 80px;
}   
.learn{
    list-style-type: none;
    margin-left: 200px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 700;
    color: #011746;
    transition: 1s;
}
.learn:hover{
    cursor: pointer;
    color: #2531EA;
}
.made{
    display: flex;
    margin-left: 200px;
}
.app{
    width: 600px;
    margin-top: 30px;
}
.box{
    margin-bottom: 200px;
}
.blue{
    margin-left: 30px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #1b1642;
    width: 120%;
    /* height: 20vh; */
    margin-bottom: 20px;
}
.blue h3{
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.blue hr{
    border: 1px solid #fda186;
}
.blue p{
    color: white;
    padding: 20px 30px 20px 40px;
}
.ble{
    margin-left: 30px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: white;
    color: #1b1642;
    width: 120%;
    margin-bottom: 20px;
    transition: 1s;
}
.ble:hover{
    background-color: #1b1642;
    color: white;
}
.ble h3{
    font-size: 20px;
    font-weight: 500;
    margin-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.ble hr{
    border: 1px solid #fda186;
}
.ble p{
    padding: 20px 30px 20px 40px;
}
.no2{
    display: flex;
    background-color: #e5ebfb;
    width: 100%;
    height: 100vh;
}
.part1{
    padding-left: 150px;
}
.our{
    padding-top: 100px;
    color: rgb(125, 140, 255);
    font-size: 15px;
    font-weight: 400;
}
.have{
    color: rgb(14, 10, 71);
    font-size: 48px;
    font-weight: 300;
    line-height: 57.6px;
    padding-top: 10px;
}
.serve{
    color: rgb(14, 10, 71);
    font-size: 48px;
    font-weight: 700;
}
.part2{
    padding-left: 40px;
}
.the{
    padding-top: 150px;
    line-height: 22.5px;
    color: rgb(63, 75, 75);
    font-size: 15px;
    font-weight: 400;
}
.pictures{
    display: flex;
    gap: 20px;
    margin-top: -450px;
    margin-left: 150px;
}
.Darker-90{
    transition: 2s;
    width: 400px;
    border-radius: 4px;
}
.Darker-90:hover{
    cursor: pointer;
    filter: brightness(60%);
    margin-top: -20px;
}
.tech{
    font-size: 18px;   
    font-weight: 600;
    color: rgb(14, 10, 71);
    line-height: 21.6px;
}
.span{
    padding-left: 150px;
}
.ee{
    padding-left: 70px;
}
.choose{
    margin-left: 150px;
    margin-top: 100px;
    display: flex;
}
.us{
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
    color: rgb(14, 10, 71);
}
.choose2{
    display: flex;
    margin-top: 100px;
    margin-left: 100px;
}
.card{
    margin-right: 50px;
    /* background-color: #2531EA; */
    box-shadow: 0px 60px 50px rgba(0, 0, 0, 0.08);
    width: 300px;
    height: 42vh;
}
.card h3{
    padding-left: 50px;
}
.card2{
    margin-right: 50px;
    box-shadow: 0px 60px 50px rgba(0, 0, 0, 0.08);
    width: 320px;
    height: 50vh;
}
.h3{
    color: #0e0A47;
    font-size: 20px;
    font-weight: 700;
    margin-left: 90px;
    margin-top: 30px;
}
.h2{
    color: #0e0A47;
    font-size: 20px;
    font-weight: 700;
    margin-left: 50px;
    margin-top: 5px;
}
.p{
    margin-left: 50px;
    margin-top: 10px;
    color: #3F4B4B;
    line-height: 22.8px;
    font-size: 16px;
    font-weight: 400
}
.pp{
    margin-left: 45px;
    margin-top: 3px;
    color: #3F4B4B;
    line-height: 22.8px;
    font-size: 16px;
    font-weight: 400
}
.ppp{
    margin-left: 100px;
    margin-top: 10px;
    color: #3F4B4B;
    line-height: 22.8px;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 400
}
.card2 span{
    color: rgb(125, 140, 255);
    margin-left: 100px;
}
.circle{
    background-color: #1b1642;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    margin-left: 100px;
    margin-top: 50px;
    transition: 1s;
}
.circle:hover{
    cursor: pointer;
}
.card h3{
    color: #0e0A47;
    font-size: 20px;
    font-weight: 700;
    margin-left: 30px;
    margin-top: 30px;
}
.square{
    margin-left: 600px;
    margin-top: -50px;
    position: absolute;
}
.card p{
    margin-left: 60px;
    margin-top: 10px;
    color: #3F4B4B;
    line-height: 22.8px;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 400
}
.card span{
    color: rgb(125, 140, 255);
    margin-left: 90px;
}
.card3{
    margin-right: 50px;
    box-shadow: 0px 60px 50px rgba(0, 0, 0, 0.08);
    width: 300px;
    height: 42vh;
}
.card3 h3{
    color: #0e0A47;
    font-size: 20px;
    font-weight: 700;
    margin-left: 50px;
    margin-top: 30px;
}
.p{
    margin-left: 42px;
    margin-top: 10px;
    color: #3F4B4B;
    line-height: 22.8px;
    font-size: 16px;
    font-weight: 400
}
.Pp{
    margin-left: 43px;
    margin-top: 3px;
    margin-bottom: 20px;
    color: #3F4B4B;
    line-height: 22.8px;
    font-size: 16px;
    font-weight: 400;
}
.card3 span{
    color: rgb(125, 140, 255);
    margin-left: 100px;
}
.Choose2{
    display: flex;
    margin-left: 500px;
}
.card4{
    margin-right: 50px;
    /* background-color: #2531EA; */
    box-shadow: 0px 60px 50px rgba(0, 0, 0, 0.08);
    width: 300px;
    height: 42vh;
    margin-top: -10px;
}
.card4 span{
    color: rgb(125, 140, 255);
    margin-left: 90px;
}
.card4 h3{
    padding-left: 50px;
    margin-top: 20px;
}
.para1{
    margin-left: 42px;
    margin-top: 10px;
    color: #3F4B4B;
    line-height: 22.8px;
    font-size: 16px;
    font-weight: 400
}
.para2{
    margin-left: 43px;
    margin-top: 3px;
    color: #3F4B4B;
    line-height: 22.8px;
    font-size: 16px;
    font-weight: 400;
}
.para3{
    margin-left: 65px;
    margin-top: 3px;
    margin-bottom: 20px;
    color: #3F4B4B;
    line-height: 22.8px;
    font-size: 16px;
    font-weight: 400;
}
.card5{
    margin-right: 50px;
    /* background-color: #2531EA; */
    box-shadow: 0px 60px 50px rgba(0, 0, 0, 0.08);
    width: 300px;
    height: 42vh;
    margin-top: 30px;
}
.takes{
    margin-left: 70px;
    margin-top: 3px;
    color: #3F4B4B;
    line-height: 22.8px;
    font-size: 16px;
    font-weight: 400;
}
.card5 span{
    color: rgb(125, 140, 255);
    margin-left: 90px;
}
.h4{
    padding-left: 60px;
    margin-top: 20px;
}
.minutes{
    margin-left: 50px;
    margin-top: 3px;
    color: #3F4B4B;
    line-height: 22.8px;
    font-size: 16px;
    font-weight: 400;
}
.no{
    margin-left: 80px;
    margin-top: 3px;
    color: #3F4B4B;
    line-height: 22.8px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}
.card6{
    margin-right: 50px;
    /* background-color: #2531EA; */
    box-shadow: 0px 60px 50px rgba(0, 0, 0, 0.08);
    width: 300px;
    height: 42vh;
    margin-top: 40px;
}
.card6 h3{
    padding-left: 80px;
    margin-top: 30px;
}
.most{
    margin-left: 50px;
    margin-top: 10px;
    color: #3F4B4B;
    line-height: 22.8px;
    font-size: 16px;
    font-weight: 400;
}
.payment{
    margin-left: 35px;
    margin-top: 2px;
    color: #3F4B4B;
    line-height: 22.8px;
    font-size: 16px;
    font-weight: 400;
}
.works{
    margin-left: 50px;
    margin-top: 2px;
    color: #3F4B4B;
    line-height: 22.8px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}
.card6 span{
    color: rgb(125, 140, 255);
    margin-left: 90px;
}
.try{
    padding-bottom: 50px;
}
.ry{
    padding-left: 700px;
} 
.ry span{
    color: #7D8CFF;
    font-size: 15px;
    font-weight: 700;
}
.of{
    background-color: #e5ebfb;
    width: 100%;
    height: 145vh;
    padding-left: 200px;
}
.off{
    display: flex;
}
.hav{
    font-size: 48px;
    font-weight: 300;
    color: #0e0A47;
}
.hav span{
    font-weight: 700;
}
.testimonial{
    padding-left: 100px;
}
.easy{
    margin-top: 30px;
    margin-bottom: 20px;
}
.hr{
    padding: 1px;
    background-color: #7D8CFF;
}
.more{
    color: white;
    background-color: #0e0A47;
    padding: 15px 35px;
    font-size: 16px;
    font-weight: 700;
    border: #0e0A47;
    margin-top: 30px;
    border-radius: 5px;
    transition: 1s;
}
.more:hover{
    cursor: pointer;
    background-color: #7D8CFF;
}
.testimonial video{
    margin-top: 30px;
    border-radius: 30px 30px 0px 0px;
    padding-bottom: 100px;
}
.owner{
    display: flex;
}
.div h4{
    margin-top: 30px;
    font-size: 18px;
    font-weight: 700;
    color: #282E67;
    margin-left: 100px;
}
.Ict{
    font-size: 14px;
    font-weight: 400;
    color: #49546E;
    margin-left: 120px;
    margin-top: 5px;
    margin-bottom: 70px;
}
.div hr{
    width: 30%;
    margin-bottom: 30px;
    margin-left: 130px;
}
.div h3{
    font-size: 24px;
    font-weight: 500;
    margin-left: 30px;
    color: #0E0A47;
}
.div span{
    margin-left: 100px;
}
.first{
    color: #3F4B4B;
    font-size: 15px;
    font-weight: 400;
    margin-left: 50px;
}
.second{
    color: #3F4B4B;
    font-size: 15px;
    font-weight: 400;
    margin-left: 40px;
    line-height: 30px;
}
.third{
    color: #3F4B4B;
    font-size: 15px;
    font-weight: 400;
    margin-left: 36px;
}
.fourth{
    color: #3F4B4B;
    font-size: 15px;
    font-weight: 400;
    margin-left: 43px;
    line-height: 30px;
}
.fifth{
    color: #3F4B4B;
    font-size: 15px;
    font-weight: 400;
    margin-left: 52px;
}
.sixth{
    color: #3F4B4B;
    font-size: 15px;
    font-weight: 400;
    margin-left: 70px;
    line-height: 30px;
}
.unique{
    background-color: white;
    box-shadow: 0px 50px 60px rgba(0, 0, 0, 0.08);
    margin-left: 80px;
    width: 400px;
    border-radius: 10px;
}
.unique h4{
    margin-left: 130px;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 700;
    color: #282E67;
}
.ict{
    font-size: 14px;
    font-weight: 400;
    color: #49546E;
    margin-left: 150px;
    margin-top: 5px;
    margin-bottom: 70px;
}
.unique hr{
    width: 30%;
    margin-left: 140px;
}
.unique h3{
    font-size: 24px;
    font-weight: 530;
    margin-left: 30px;
    color: #0E0A47;
}
.unique h3 span{
    margin-left: 70px;
}
.seventh{
    color: #3F4B4B;
    font-size: 15px;
    font-weight: 400;
    margin-left: 30px;
    line-height: 26px;
}
.eigth{
    color: #3F4B4B;
    font-size: 15px;
    font-weight: 400;
    margin-left: 36px;
    line-height: 26px;
}
.ninth{
    color: #3F4B4B;
    font-size: 15px;
    font-weight: 400;
    margin-left: 140px;
    line-height: 26px;
}
.Div h4{
    margin-top: 30px;
    font-size: 18px;
    font-weight: 700;
    color: #282E67;
    margin-left: 150px;
}
.ICt{
    font-size: 14px;
    font-weight: 400;
    color: #49546E;
    margin-left: 190px;
    margin-top: 5px;
    margin-bottom: 70px;
}
.Div hr{
    width: 30%;
    margin-bottom: 30px;
    margin-left: 190px;
}
.Div h3{
    font-size: 24px;
    font-weight: 500;
    margin-left: 30px;
    color: #0E0A47;
}
.Div span{
    margin-left: 100px;
}
.Div h3{
    font-size: 24px;
    font-weight: 530;
    margin-left: 100px;
    color: #0E0A47;
}
.tenth{
    color: #3F4B4B;
    font-size: 15px;
    font-weight: 400;
    margin-left: 110px;
    line-height: 30px;
}
.eleventh{
    color: #3F4B4B;
    font-size: 15px;
    font-weight: 400;
    margin-left: 114px;
    line-height: 30px;
}
.twelveth{
    color: #3F4B4B;
    font-size: 15px;
    font-weight: 400;
    margin-left: 110px;
    line-height: 30px;
}
.support{
    margin-top: 100px;
    margin-left: 150px;
    display: flex;
    margin-bottom: 50px;
}
.over{
    width: 700px;
}
.resolved{
    background-color: #0E0A47;
    margin-top: -20px;
    padding: 20px;
    display: flex;
}
.resolved h1{
    color: #7d8cff;
    font-size: 60px;
    font-weight: 700;
    margin-left: 50px;
    margin-top: 20px;
}
.resolved span{
    color: white;
    margin-top: 60px;
}
.resolved p{
    color: white;
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 40px;
}
.support2{
    margin-left: 50px;
}
.management{
    font-size: 15px;
    font-weight: 400;
    color: #49546E;
    margin-top: 20px;
    line-height: 22px;
    margin-bottom: 60px;
}
.in{
    font-size: 15px;
    font-weight: 700;
}
.demo{
    color: #0E0A47;
    font-size: 18px;
    font-weight: 700;
    transition: 1s;
}
.demo:hover{
    color: #2531EA;
    cursor: pointer;
}
.team{
    background-color: #0e0a47;
    width: 100%;
    height: 75vh;
    display: flex;
    padding-top: 20px;
}
.round{
    padding-left: 250px;
}
.circles{
    width: 450px;
}
.commited{
    color: #F9F9F9;
    margin-left: 15px;
    margin-top: 100px;
}
.we{
    font-size: 15px;
    font-weight: 400;
}
.are{
    font-size: 45px;
    font-weight: 300;
    margin-bottom: 30px;
    line-height: 60px;
}
.are span{
    font-weight: 600;
}
.amazon{
    width: 120px;
    margin-top: 50px;
    background-color: white;
    padding: 20px 30px;
    opacity: 0.5;
    transition: 1s;
    margin-left: 30px;
}
.amazon:hover{
    opacity: 1;
    cursor: pointer;
    margin-top: 30px;
}